# Ignore R Project files (This is what you asked for)
*.Rproj
.Rproj.user

# Ignore History and Session Data
.Rhistory
.RData
.Ruserdata

# Ignore System Files
.DS_Store
Thumbs.db
git

# Ignore Generated Data (Optional)
output/figures/*.png